<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Brawl Stars Simulator</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="style3.css" type="text/css">
    </head>

    <body>
        <div id="background2">
            <h1>Brawler Voting</h1>
            <img id="image1" src="BrawlStarsImage.jpg" alt="BrawlStarsImage.jpg">
        <h2>Vote Results</h2>
        <span id="one"> User Name: <%- username %> </span>
        <span> Votes: <%- votes %> </span>
        <span> <a href="/voting"><u>Return To Voting</u></a></span>   
        <span> <a href="/"><u>HOME</u></a></span>   
        </div>
    </body>
</html>