<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Brawl Stars Simulator</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="style4.css" type="text/css">
    </head>

    <body>
        <div id="background2">
            <h1>Brawler Rankings</h1>
            <img  id="image1" src="BrawlStarsImage2.jpg" alt="BrawlStarsImage2.jpg"> <br>
            <span> <%- table %> </span><br>
            <span id="right"> <a href="/"><u>HOME</u></a></span>   
        </div>
    </body>
</html>