html {
    height: fit-content;
    box-sizing: border-box;
    font-size: 1.04rem;
}

* {
    box-sizing: inherit;
}

#image1{
    width: 59rem;
    height: 27.5rem;
}

span{
    margin-left: 25rem;
}
h2{
    margin-left: 25rem;
}
label{
    margin-left: 25rem;
}
#background2 {
    border: 0.5rem black double;
    margin: auto;
    height: fit-content; 
    width: 1000px;
}
